* {
    margin: 0;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}

/* .container > header {
    width: 50%;
} */

.name {
    font-size: 4em;
    font-weight: 500;
}

.description {
    font-size: 1.4em;
    font-weight: 300;
}

.social {
    margin: 20px 0;
}

.social>a {
    margin-right: 20px;
}

.proyects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.proyects>a>div {
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.proyect-name {
    padding: 20px;
}

.proyect-name>h2 {
    font-weight: 500;
    font-size: 2.5em;
    margin: 13px 0;
    line-height: 1em;
}

.proyect-name>span {
    border-radius: 20px;
    border: 1px #fff solid;
    padding: 1px 10px;
    font-size: 1em;
    font-weight: 300;
}



.card-1 {
    background: #e6c3dc;
    color:#03888f;
    transition: all .3s ease;
}

.card-1:hover {
    background: #cca5c2;
    color:#116d72;
}

.card-1>div>span {
    border: 1px#138389 solid;
}

.card-2 {
    background: rgb(183, 95, 159);
    background: linear-gradient(135deg, rgba(183, 95, 159, 1) 0%, rgba(234, 157, 167, 1) 30%, rgba(250, 166, 162, 1) 60%, rgba(234, 168, 112, 1) 100%);
    transition: all .3s ease;
}

.card-2:hover {
    background: rgb(183, 95, 159);
    background: linear-gradient(135deg, rgb(168, 87, 147) 0%, rgb(218, 145, 155) 30%, rgb(216, 142, 138) 60%, rgb(216, 156, 103) 100%);
    color: rgb(238, 238, 238);
}

.card-3 {
    background: #CC101C;
    transition: all .3s ease;
}

.card-3:hover {
    background: #bb0f1a;
}

.card-4 {
    background: #FDB424;
    transition: all .3s ease;
}

.card-4:hover {
    background: #e0a021;
}

.card-6 {
    background: #9EBBD6;
    transition: all .3s ease;
}

.card-6:hover {
    background: #93aec7;
}

.card-7 {
    background: #686868;
    color: #000;
    transition: all .3s ease;
}

.card-7:hover {
    background: #c9c9c9;
}

.card-7>div>span {
    border: 1px#000 solid;
}

.card-8 {
    background: #209B27;
    transition: all .3s ease;
}

footer {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        max-width: 900px;
        margin-top: 50px;
    }
}

@media (max-width: 950px) {

    .proyects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .container {
        width: 100%;
        max-width: 600px;
        margin-top: 50px;
    }
}

@media (max-width: 700px) {

    .name {
        font-size: 2.5em;
        font-weight: 500;
    }
    
    .description {
        font-size: 1.2em;
        font-weight: 300;
    }

    .container {
        width: 90%;
        max-width: 1200px;
        margin-top: 50px;
    }

    .proyects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}